<p>
  <strong>Name:</strong>
  <%= player.name %>
</p>

<p>
  <%= link_to 'Destroy Player', [player.team, player],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>